body{
    background-color: #EFEFEF;
    color: #59595B;
}

#top-menu li.active a {
  color: #151517 !important;
}

.navbar-nav .bg-inviu-p{
text-shadow: #b00047;
 color: #E2007A;
}

.navbar .nav-item{
    padding-left: 10px;
}
/* 
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
} */

.navbar .navbar-nav li a{
    text-shadow: #59595B;
    color:  #59595B !important;
    cursor: pointer !important;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
}

#artykuly img{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#artykuly{
  color: #fff;

}

#first{
  background-color: #7B7B7D;
}

#second{
  background-color: #E2007A;
}

#third{
  background-color: #9D9D9F;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:active{
    color: #151517 !important;
}

#navbarSocialMedia li a{
    color:  #E2007A !important;
  }

/* @media screen and (max-width:767px){
  .navbar .nav-flex-icons {
    display: flex;
    justify-content: flex-start;
    }
} */

.navbar .nav-flex-icons a:hover, .navbar .nav-flex-icons a:active{
    color: #b00047 !important;
}

#top i.fa {
  border-radius: 60px;
  box-shadow: 0px 0px 5px #b00047;
  padding: 0.3em 0.4em;
}

#top i.fa:hover{
  box-shadow: #b00047;
  background-color: #E2007A ;
  color: #fff
}

#top i.fa-facebook{
  border-radius: 60px;
  box-shadow: 0px 0px 8px #b00047;
  padding: 0.3em 0.54em;
}

#footerContent i.fa{
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  color: #fff;
  background-color: #E2007A;
  padding: 0.3em 0.4em;
}

#footerContent i.fa:hover{
  box-shadow: 0px 0px 5px #fff;
  color: #E2007A;
  background-color: #fff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover{
    background-color: #CFCFCF !important;
    opacity: 1;
    cursor: pointer;
}

.navbar .navbar-nav .dropdown-menu.collapsing {
    display: block;
}

.navbar .navbar-toggler{
    border-color: #59595B !important
}

.navbar .navbar-toggler:hover{
    background-color: #CFCFCF !important
}

#carouselExampleIndicators{
    padding-top: 115px;
}

.carousel-inner{
    width:100%;
    max-height: 680px !important;
  }

  .carousel-inner .carousel-item {
    width:100%;
    max-height: 680px !important;
  }

  .carousel-caption h5 {
    letter-spacing: 4px;
    text-shadow: #59595B;
    font-size: 50px;
  }

  .carousel-caption a {
    font-size: x-large;
    margin-top: 3%;
    margin-bottom: 10%;
    text-shadow: #59595B;
    box-shadow: #59595B;
    border-width: medium;
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  #scroll-oNas{
    background: url(assets/oNas.jpg) no-repeat fixed 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    /* scale: 1.5; */
  }

  #scroll-oNas h1{
    padding-top: 3%;
  }

  #oNasText{
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: justify;
  }

  @media (max-width: 1200px) {
    #oNasText {
      padding-left: 26%;
      padding-right: 26%;
    }
  }

  @media (max-width: 967px) {
    #oNasText {
      padding-left: 18%;
      padding-right: 18%;
    }
  }

  @media (max-width: 732px) {
    #oNasText {
      padding-left: 9%;
      padding-right: 9%;
    }
  }

  .card{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
  }

  .card button, #scroll-kontakt button{
    text-shadow: #151517;
    box-shadow: #59595B;
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: large;
    border-width: medium;
  }

  #scroll-kontakt button{
    color: #59595B;
  }

  .card-body button{
    font-weight: 500;
    padding: 0%;
    border-width: 0px;
    font-size: 18px;
    color: #8C8C8E;
  }

  .card-body button:hover{
    background-color: #fff;
    color: #59595B;
  }

  .carousel-caption a:hover, #scroll-kontakt button:hover, .box button:hover {
    background-color: #59595B !important;
    color: #fff;
  }

  #content h1{
      color: #59595B;
      font-size: xx-large;
      font-weight: 500;
  }

  #naszeProjekty .card .box, .album .card{
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }

  #naszeProjekty .card .box img, .album .card img{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    transition: transform 1s;
  }

  .album .card:hover img{
    transform: scale(1.2);
  }

  #naszeProjekty .card .box:hover img{
    transform: scale(1.2);
    opacity: 0.75;
    }

  #naszeProjekty .box button{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    transition: transform .5s ease;
    text-align: center;
    opacity: 0;
  }

  #naszeProjekty .box:hover button{
    opacity: 1;
  }

  #naszeProjekty .card-title a{
    font-size: 25px;
    color: #59595B;
  }

  #naszeProjekty .card-title:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  #naszeProjekty .card-text{
    text-align: justify;
  }


  #scroll-kontakt h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #59595B;
      font-size: x-large;
      font-weight: 500;
  }

  #scroll-kontakt{

    color: #59595B;
    /* font-size: large; */
  }

  #footerContent{
    color: #fff;
    background-color: #E2007A;
    /* background-color: #8C8C8E !important; */
  }

  #footerContent h2{
    font-size: large;
  }

  footer a{
    font-size: medium !important;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
    }

    footer a:hover{
      color: #59595B;
      text-decoration: none;
    }

  .form-group input, .form-group textarea{
    border-radius: 0 !important;
    font-size: medium;
    text-shadow: #151517;
    box-shadow: #59595B;
    color: #59595B;
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }

  .form-control:focus {
    border-color: #59595B;
    box-shadow: inset 0 1px 1px rgba(68, 67, 67, 0.075), 0 0 8px rgba(108, 109, 108, 0.6);
  }

  #artykuly p{
    text-align: justify;
  }

  
  /* #content .card{
      width: 330px ;
      height: 470px !important;
  } */
/* .navbar .navbar-light{
    background-color: white;
    color: #59595B ;
} */

#Logo{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out ;
    -ms-transition: all 0.5s ease-in-out ;
    -o-transition: all 0.5s ease-in-out ;
    transition: all 0.5s ease-in-out ;
}

.album{
  margin-top: 140px;
}